<h1>PRIORITIES</h1>

<h2>Description</h2>
  <section>
    <% @priorities.each do |priority| %>
      <div class="each-description">
        <% if priority.user_id == current_user.id %>
          <%= priority.created_at.to_formatted_s(:long) %> -
          <a href="/priorities/<%= priority.id %>"><%= priority.description %></a>
        <% end %>
      </div>
    <% end %>
  </section>

<div class="horizontal-line"></div>

<%= link_to 'New Priority', new_priority_path %>