<h1>SUCCESS</h1>

<h2>Description</h2>

  <section>
    <% @successes.each do |success| %>
      <div class="each-description">
        <%= success.created_at.to_formatted_s(:long) %> -
        <%= link_to 'success.description', success %>
      </div>
    <% end %>
  </section>

<div class="horizontal-line"></div>

<%= link_to 'New Success', new_success_path %>
