

<h1>SUCCESS</h1>

<h2>Description</h2>
  <section>
    <% @successes.each do |success| %>
      <div class="each-description">
        <% if success.user_id == current_user.id %>
            <%= success.created_at.to_formatted_s(:long) %> -
            <a href="/successes/<%= success.id %>"><%= success.description %></a>
        <% end %>
      </div>
    <% end %>
  </section>

<div class="horizontal-line"></div>

<%= link_to 'New Success', new_success_path %>
