<h1>Listing successes</h1>

<h2>Description</h2>
  <% @successes.each do |success| %>
    <%= success.description %></td>
  <% end %>

<div class="horizontal-line"></div>

<%= link_to 'New Success', new_success_path %>
