<h1>STUCK</h1>

<h2>Description</h2>

  <section>
    <% @stucks.each do |stuck| %>
      <div class="each-description">
        <%= stuck.created_at.to_formatted_s(:long) %> -
        <a href="/stucks/<%= stuck.id %>"><%= stuck.description %></a>
      </div>
    <% end %>
  </section>

<div class="horizontal-line"></div>

<%= link_to 'New Stuck', new_stuck_path %>